click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
labelImg==1.8.3
lxml==4.5.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.20
numpy==1.18.3
optspec==0.6
paho-mqtt==1.5.0
pandas==1.0.3
protobuf==3.11.3
PyQt5==5.15.0
PyQt5-sip==12.8.0
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
virtualenv==16.7.8
Werkzeug==1.0.1
xlrd==1.2.0
